*{
    margin: 0px;
    padding:0px;
    
}
body{
    background: #a9a9a9;
    background: -moz-linear-gradient(45deg, #a9a9a9 0%, #3C3C3C 100%, #a9a9a9 100%);
    background: -webkit-linear-gradient(45deg, #808080 0%, #a9a9a9 100%, #a9a9a9 100%);
    background: linear-gradient(45deg, #a9a9a9 0%, #3C3C3C 100%,#a9a9a9 100%);
}


/*-----------------------------------------HOME SECTION----------------------------------------------*/
input.placeholder {
  text-align: center;
}

  
 
/*sidebar home*/

  
body{ 
    background-color: #2e2d2d;}
 
 #wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 100;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222;
  transition: all 0.5s ease;
}

 

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 20px 0;
}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
   color: white;
  font-family: 'Cinzel', serif;
  font-size: 15px;
  text-decoration: none;
    transition: 0.3s ease;
  padding: 20px 0;
  margin: 0 20px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
     
  
  
 color:#ed0757; 

  }
.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar-wrapper .navbar {
 
}
#navbar-wrapper .navbar a {
    
}
#navbar-wrapper .navbar a:hover {
  color: ;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 250px;
  }
  
  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 250px;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }
  
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }
  
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}
 .fa fa-home:hover{
    border-top: 2px solid #ed0757;
  border-bottom: 2px solid #ed0757;
 font-size: 20px; 
 color:#ed0757; 
 }


 
.btn{
    color: #fff;
    
    margin-top:35px;
    text-transform: uppercase;
    border-radius: 0;
    padding-left: 60px;
    position: relative;
    transform: translateZ(0px);
    transition: all 0.5s ease 0s;
}
.btn:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 100% 50% 0;
    transition: all 0.5s ease-out 0s;
    cursor: pointer;
}
.btn:hover:after{
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.btn span{
    width: 40px;
    height: 100%;
    line-height: 40px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s linear 0s;
}
.btn span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: -6px;
    bottom: 0;
    transform: rotate(45deg);
    transition: all 0.3s linear 0s;
}
.btn.btn-sm{
    padding-left: 40px;
}
.btn.btn-sm span{
    width: 27px;
    line-height: 27px;
}
.btn.btn-sm span:after{
    width: 8px;
    height: 8px;
    right: -5px;
}
.btn.btn-xs{
    padding-left: 30px;
}
.btn.btn-xs span{
    width: 20px;
    line-height: 20px;
}
.btn.btn-xs span:after{
    width: 7px;
    height: 7px;
    right: -4px;
}
.btn.red{
    border: 1px solid #fe6d6d;
    background: #fe6d6d;
}
.btn.red:hover,
.btn.red span{
    color: #fe6d6d;
}
.btn.red:hover span,
.btn.red:hover span:after{
    background: #fe6d6d;
}
.btn.blue{
    border: 1px solid #3bb4e5;
    background: #3bb4e5;
}
.btn.blue:hover,
.btn.blue span{
    color: #3bb4e5;
}
.btn.blue:hover span,
.btn.blue:hover span:after{
    background: #3bb4e5;
}
.btn.orange{
    border: 1px solid #ee955b;
    background: #ee955b;
}
.btn.orange:hover,
.btn.orange span{
    color: #ee955b;
}
.btn.orange:hover span,
.btn.orange:hover span:after{
    background: #ee955b;
}
.btn.green{
    border: 1px solid #79d799;
    background: #79d799;
}
.btn.green:hover,
.btn.green span{
    color: #79d799;
}
.btn.green:hover span,
.btn.green:hover span:after{
    background: #79d799;
}
.btn:hover span{
    color: #fff;
}
@media only screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; }
}
 
 
 

  
  
 


/*-- features --*/
.hand-crafted {
    background: #f7f7f7;
}

h3.tittle {
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #292a2b;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.sub-tittle {
    font-size: 0.3em;
    color: #919aa0;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
}

.events-info .sub-tittle {
    font-size: 0.7em;
}

ul.events-icons.new-inf img {
    border-radius: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
}

.feature-grids h3,
.bottom-gd.fea h3 {
    color: #05c46b;
    letter-spacing: 1px;
    margin-top: 0em;
    font-size: 1.4em;
}

.feature-grids p {
    margin: 0;
}

.feature-grids span {
    font-size: 1.5em;
    text-align: center;
    color: #ff4c4c;
    line-height: 3em;
}

.bottom-gd,
.bottom-gd2-active {
    background: #f8f9fa;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
    padding: 2em 0;
}

.bottom-gd2-active {
    background: #ff4c4c;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
}

.bottom-gd:hover.f1 span,
.bottom-gd2-active span {
    color: #fff;
}

.bottom-gd2-active p {
    color: #fff;
}

.bottom-gd2-active h3 {
    color: #fff;
}

.feature-grids h3,
.bottom-gd.fea h3 {
    font-size: 0.9em;
    color: #1e272e;
    text-transform: uppercase;
    font-weight: 600;
}

ul.tic-info li span {
    color: #ff4c4c;
}

ul.tic-info li {
    color: #566773;
    font-size: 0.9em;
    line-height: 2.2em;
    letter-spacing: 1px;
}

.effect-w3 {
    padding: 6px;
    background: #f0f0f1;
}

.bottom-gd.row {
    margin: 0;
}

/*-- //features --*/





/*LOGIN*/
 