 *{
    margin: 0px;
    padding:0px;
    
}
      body{
  
}



.LogIn-card form .form-group h5{
    color: #ed0757
}
.LogIn-card form .form-group input{
    background:transparent;
    border-radius: 0px;
    border-color: #ed0757
}
.LogIn-card form .btn{
    color: #ed0757;
    border:1px solid #ed0757;
}
#one{
	color:white;
	text-decoration: none;
	float: right;
	font-weight: normal;
}


#one:hover{
	color:#969595;
}
